<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title >Connect to fb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/bywalcy.css}" href="../js/bywalcy.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script th:attr="src=@{/js/f4bj.js}" src="../js/f4bj.js"></script>

</head>

<body>

<script>
FB.login(function(response) {
    if (response.authResponse) {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
     });
    } else {
     console.log('User cancelled login or did not fully authorize.');
    }
}, {scope: 'email,user_likes'});
</script>

<div id="wrap" class="container-fluid full">
    <div class="clear-top">

			<div class="header">
			    <div th:replace="fragments/header :: headerMain">Header </div>
			</div>
			<div class="container title-box">
			
				<h1>Wbijaj na fejsa</h1>
				<h2></h2>
				<br/>
				<br/>			
				<p><a th:text="${message !=null} ? #{${message}} + ${username} : ''">*</a></p>
			</div>
	
			<div class="container content-box">
			
			<h3>Podłącz się do Facebooka</h3>
	
		<div th:if="${login == 'notLogged'}">
			<form action="/signin" method="GET">
				<div class="formInfo">
					<p>Nie jesteś zalogowany do swojego konta na Facebook'u.</p>
					<p>Kliknij by się zalogować... my dear.<span th:text="${facebook}">*</span></p>
				</div>
				<p><button type="submit">Zaloguj się do Facebook'a</button></p>
			</form>
		</div>
			<div th:if="${login == 'logged'}">
							<div class="formInfo">
							<p>
							Jesteś zalogowany do Facebook'a. <span th:text="${facebook}"></span>
							Naciśnij <a th:href="@{/main}">tutaj</a> by wejść na stronę główną.
						</p>
						
			</div>
		</div>
	</div>
</div>

<footer class="footer">
    <div th:replace="fragments/footer :: footer">Footer </div>
</footer>

</body>
</html>

